@import "variables";
@import "roboto";
@import "typography";


body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1080px;
  padding: 20px 20px 72px 20px;
  margin-left: auto;
  margin-right: auto;
}