<div>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="Settings">
        <md-icon md-svg-icon="/img/icons/ic_menu_24px.svg"></md-icon>
      </md-button>

      <h2 flex md-truncate>AI Playground</h2>

      <md-button class="md-icon-button" aria-label="More">
        <md-icon md-svg-icon="/img/icons/ic_person_24px.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">

    <md-toolbar class="md-theme-indigo">
      <h1 class="md-toolbar-tools">AI Playground</h1>
    </md-toolbar>

    <md-content layout-margin>
      <p>
        This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
      </p>
      <md-button ng-click="toggleLeft()" class="md-accent">
        Close this Sidenav
      </md-button>
    </md-content>

  </md-sidenav>
</div>